.App {
  /*text-align: center;*/
  
}

html, body {
  background-color: black;
  color: white;
}

h2 {
  text-decoration: underline;
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  padding: 0px 20px;
}

.logo {
  font-size: 30px;
}

.menu-logo {
  width: 30px;
  height: 30px;
}

.header-img {
  width: 100vw;
  height: 60vh;
}

.main-nav {
  padding: 20px 0px;  
}

.main-nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none; 
}

.main-nav a:hover {
  opacity: 25%;
}

/*Home Page Styles*/

.home-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  gap: 13px;
}

.home-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.membership-link {
  color: blue;
}

.membership-link:hover {
  opacity: 50%;
}

.one {
  /*grid-column: 1;
  grid-row: 1;*/
  border: 3px solid 	#404040;
}

.one a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px; 
}

.two {
  /*grid-column: 2/ 2;
  grid-row: 1;*/
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  background-color: #252525;
}

.two p {
  font-weight: bold;
  font-size: 16px;
}

.three {
  /*grid-column: 3;
  grid-row: 1;*/
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  background-color: #252525;
}

.four {
  /*grid-column: 1;
  grid-row: 2;*/
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  background-color: #252525;
}

.five {
  /*grid-column: 2/ 2;
  grid-row: 2;*/
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  background-color: #252525;
}

.six {
  /*grid-column: 3;
  grid-row: 2;*/
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  background-color: #252525;
}

/*Information Page Styles*/

.info-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  gap: 13px;
}

.info-container div {
  background-color: #252525;
  padding: 0px 20px;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
}

.info-container p {
  font-weight: bold;
}

.info-container span {
  font-weight: bold;
  font-size: 20px;
  color: yellow;
}

/*Chain of Command Styles*/

#chain-of-command {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 26px;
  color: white;
  padding-bottom: 15px;
}

.command-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  gap: 13px;
}

.command-container div {
  background-color: #252525;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
}

.rank-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
}

.roles {
  padding: 0px 20px;
}

.roles h3{
  font-size: 22px;
  color: darkred;
}

.roles span {
  font-size: 16px;
  color: white;
}

.roles .black-suits {
  color: darkviolet;
}

.roles .red-suits {
  color: red;
}

.roles .blue-suits {
  color: blue;
}

.roles .officers {
  color: orange;
}

.roles .entry-rank {
  color: lightyellow;
}

.alert {
  font-weight: bolder;
  font-size: 26px;
  color: yellow;
  padding: 0px 20px;
}

/*ForumsPage Styles*/

.forums-page-container {

}

/*Clan Roster Styles*/

/*@media screen and (max-width: 480px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width: 480px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

}*/

/*Footer Styles*/

.footer-container {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
}

.footer-container h3 {
  font-size: 12px;
}