.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-img {
  width: 100vw;
  height: 50vh;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  margin: 10px 25px; 
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  opacity: 100%;
}

.main-nav a:hover {
  opacity: 25%;
}

/*Home Page Styles*/

.home-container {
  display: grid;
  margin: 30px 15px;
  gap: 15px;
}

.home-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h2 {
  text-decoration: underline;
}

.one {
  grid-column: 1;
  grid-row: 1;
  border: 5px solid white;
}

.one a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px; 
}

.two {
  grid-column: 2/ 2;
  grid-row: 1;
  border: 5px solid white;
}

.two p {
  font-weight: bold;
  font-size: 18px;
  width: 60%;
}

.three {
  grid-column: 3;
  grid-row: 1;
  border: 5px solid white;
}

.four {
  grid-column: 1;
  grid-row: 2;
  border: 5px solid white;
}

.five {
  grid-column: 2/ 2;
  grid-row: 2;
  border: 5px solid white;
}

.six {
  grid-column: 3;
  grid-row: 2;
  border: 5px solid white;
}

/*Chain of Command Styles*/

#chain-of-command {
  text-decoration: underline;
  /*font-style: italic;*/
  font-weight: bolder;
  font-size: 50px;
  color: cyan;
}

.com-wrap {
  margin: 0px 30px;
}

.rank-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 32px;
}

.roles h3{
  color: darkred;
}

.roles span {
  color: white;
}

.roles .black-suits {
  color: darkviolet;
}

.roles .red-suits {
  color: red;
}

.roles .blue-suits {
  color: blue;
}

.roles .officers {
  color: orange;
}

.roles .entry-rank {
  color: lightyellow;
}

.alert {
  font-weight: bolder;
  font-size: 30px;
  color: yellow;
}