.App {
  text-align: center;
}

html {
  background-color: black;
  color: white;
}

.header-mobile {
  display: grid;
  border: 2px solid red;
}

.header-img {
  width: 100vw;
  height: 60vh;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  margin: 10px 25px; 
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  opacity: 100%;
}

.main-nav a:hover {
  opacity: 25%;
}

/*Home Page Styles*/

.home-container {
  display: grid;
  margin: 30px 15px;
  gap: 15px;
}

.home-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

.home-container h2 {
  text-decoration: underline;
}

.membership-link {
  color: blue;
}

.membership-link:hover {
  opacity: 50%;
}

.one {
  grid-column: 1;
  grid-row: 1;
  border: 5px solid 	#404040;
}

.one a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px; 
}

.two {
  grid-column: 2/ 2;
  grid-row: 1;
  border: 5px solid 	#404040;
}

.two p {
  font-weight: bold;
  font-size: 18px;
  width: 60%;
}

.three {
  grid-column: 3;
  grid-row: 1;
  border: 5px solid 	#404040;
}

.four {
  grid-column: 1;
  grid-row: 2;
  border: 5px solid 	#404040;
}

.five {
  grid-column: 2/ 2;
  grid-row: 2;
  border: 5px solid 	#404040;
}

.six {
  grid-column: 3;
  grid-row: 2;
  border: 5px solid 	#404040;
}

/*Chain of Command Styles*/

#chain-of-command {
  text-decoration: underline;
  /*font-style: italic;*/
  font-weight: bolder;
  font-size: 50px;
  color: cyan;
}

.com-wrap {
  margin: 0px 30px;
}

.rank-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 32px;
}

.roles h3{
  color: darkred;
}

.roles span {
  color: white;
}

.roles .black-suits {
  color: darkviolet;
}

.roles .red-suits {
  color: red;
}

.roles .blue-suits {
  color: blue;
}

.roles .officers {
  color: orange;
}

.roles .entry-rank {
  color: lightyellow;
}

.alert {
  font-weight: bolder;
  font-size: 30px;
  color: yellow;
}

/*@media screen and (max-width: 480px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width: 480px;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

}*/